---
export interface Props {
    title: string;
    highlights: string;
    type: string;
    devpost?: string;
    website: string;
    date: string;
    image?: string;
    album?: string;
}

const props = Astro.props;
---

<div
    class="w-80 min-h-48 p-4 border border-4 border-white rounded flex flex-col"
>
    <h1 class="text-2xl font-bold">{props.title}</h1>
    <h2 class="text-xl">{props.type} • {props.date}</h2>
    <p set:html={props.highlights} />
    <div class="flex gap-4 mt-2 flex-wrap">
        {
            props.devpost && (
                <a
                    href={props.devpost}
                    target="_blank"
                    class={`bg-gradient-to-br from-blue-500 to-purple-600
            p-[0.25rem] rounded-lg text-xl
            transition-[background-position] duration-500
            bg-[position:100%] hover:bg-[position:0%]
            bg-[size:400%]
            flex w-fit
            `}
                >
                    <p class="w-full bg-black rounded-md px-3 py-3">Devpost</p>
                </a>
            )
        }
        <a
            href={props.website}
            target="_blank"
            class={`bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400
            p-[0.25rem] rounded-lg text-xl
            transition-[background-position] duration-500
            bg-[position:100%] hover:bg-[position:0%]
            bg-[size:400%]
            flex w-fit
            `}
        >
            <p class="w-full bg-black rounded-md px-3 py-3">Website</p>
        </a>
        {
            props.album && (
            <a
                href={props.album}
                target="_blank"
                class={`bg-gradient-to-r from-red-300 via-orange-300 to-yellow-400
            p-[0.25rem] rounded-lg text-xl
            transition-[background-position] duration-500
            bg-[position:100%] hover:bg-[position:0%]
            bg-[size:400%]
            flex w-fit
            `}
                >
                    <p class="w-full bg-black rounded-md px-3 py-3">Album</p>
                </a>
            )
        }
    </div>
</div>
